name: SAST

on:
  pull_request:
    paths:
      - "app/**/*.py"
      - ".github/workflows/sast.yml"
  push:
    branches:
      - main

jobs:
  bandit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # -------------------------
      # Python + pip cache
      # -------------------------
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
          cache: "pip"

      - name: Install Bandit
        run: pip install bandit

      - name: Run Bandit SAST scan
        run: bandit -r app/ -ll
