name: Terraform Docs

on:
  pull_request:
    paths:
      - "terraform/**"
      - ".github/workflows/terraform-docs.yml"
  push:
    branches:
      - main
    paths:
      - "terraform/**"

jobs:
  terraform-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Render terraform docs and push changes back to PR
        uses: terraform-docs/gh-actions@v1.4.1
        with:
          working-dir: terraform
          output-file: README.md
          output-method: inject
          git-push: "true"
